@import url(variable.css);
html,
body, * {margin: 0; padding: 0; box-sizing: border-box; font-size: 62.5%; background-color:
  }

  #header {
    background-color: var(--primary);
    text-align: center;
    font-family: 'Playfair Display', serif;
  }
  #content{
    background-color: var(--secondary);
    font-size: var(--h2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
.cover {
  height: 550px;
  width:  400px;
  border: 2px solid var(--black);
  border-radius: 15px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}
#container{
  background-color: var(--secondary);
}
.books{
  padding: 2rem 5rem;
}
.forest{
  --primary:var(--light-green);
  --secondary:var(--green);
}
.winter{
  --primary: var(--light-blue);
  --secondary:var(--blue);
}
.btn,
.btn:link,
.btn:visited {
text-transform: uppercase;
text-decoration: none;
padding: 1.5rem 4rem;
display: inline-block;
margin: 2rem;
font-size: 2rem;
border: none;
border-radius: 10rem;
transition: all 0.2s;
}
.btn:hover {
transform: translateY(-2px);
box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}
h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h1,h2,h3,h4,h5,p{
  text-align: center;
  font-family: 'Playfair Display', serif;
}